.project {
	height: 400px;
	width: 400px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
	border: 1px solid #ffffff;
	background-color: rgba(10, 10, 10, 0.7);
	backdrop-filter: blur(12px);
	transition: transform 300ms ease-in-out;

	&:hover {
		cursor: pointer;
		transform: scale(1.02);
	}
}

.img_viewport {
	width: 100%;
	height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom: 1px solid #ffffff;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background: #3b82f6;
		border-radius: 10px;
	}
}

.project_img {
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: top;
}

.text_container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.title_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project h3 {
	font-family: var(--font-slussen-expended-black);
	text-transform: uppercase;
	color: var(--blue);
	font-size: 1.4rem;
	line-height: 1.2;
	text-align: left;
	width: 100%;
}

.description {
	font-family: var(--font-slussen-bold);
	font-size: 1rem;
	line-height: 1.5;
	opacity: 0.8;
	color: #ffffff;
	overflow-y: auto;
	flex: 1;
	width: 100%;
}
