.contact {
	height: 300vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact span {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 45%;
	background-color: var(--white);
}
