.about {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	margin-top: 20vw;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.about_me {
	margin-bottom: 0.5rem;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	@media (min-width: 768px) {
		margin-bottom: 0;
		position: sticky;
		top: 36%;
		width: 130px;
	}

	@media (min-width: 1024px) {
		width: 150px;
	}
}

.about_me span {
	text-align: left;
	font-family: var(--font-slussen-compressed-black);
	text-transform: uppercase;
	font-size: 15vw;
	letter-spacing: -0.1vw;
	line-height: 9vw;

	@media (min-width: 768px) {
		font-size: 8vw;
		line-height: 7vw;
	}

	@media (min-width: 1024px) {
		font-size: 10vw;
		line-height: 8vw;
	}
}

.border {
	display: none;

	@media (min-width: 768px) {
		display: block;
		width: 5px;
		height: 100%;
		background-color: var(--blue);
		position: absolute;
		top: 0;
		right: 8.7rem;
	}

	@media (min-width: 1024px) {
		right: 10rem;
	}
}

.texts {
	margin-left: 0;
	margin-top: 2vw;

	@media (min-width: 768px) {
		margin-left: 25vw;
		margin-top: 10vw;
	}
}

.text {
	margin-top: 50vw;
	margin-bottom: 50vw;

	@media (min-width: 1024px) {
		margin-top: 30vw;
		margin-bottom: 30vw;
	}
}

.text:nth-child(1) {
	margin-top: 0;
}

.text:last-child {
	margin-bottom: 0;
}

.text h3 {
	width: 100%;
	text-align: left;
	font-size: 8vw; // Keep large but controlled for mobile
	line-height: normal;
	font-family: var(--font-slussen-expended-black);
	text-transform: uppercase;
	color: var(--blue);

	@media (min-width: 768px) {
		width: 45vw;
		font-size: 3.4vw;
		line-height: 2.8vw;
	}

	@media (min-width: 1024px) {
		width: 25vw;
		font-size: 2vw;
		line-height: 1.9vw;
	}
}

.text p {
	margin-top: 0.5rem;
	width: 100%;
	text-align: left;
	font-family: var(--font-slussen-medium);
	font-size: 4.5vw; // Slightly larger for readability on small screens
	line-height: 1.4;

	@media (min-width: 768px) {
		margin-top: 1.25rem;
		font-size: 2vw;
		line-height: 2.5vw;
	}

	@media (min-width: 1024px) {
		width: 30vw;
		font-size: 1.3vw;
		line-height: 1.5vw;
	}
}
