@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #efefef;
	--white-transparent: hsla(0, 0%, 94%, 0);
	--grey: #b0b0b0;
	--grey-transparent: hsla(0, 0%, 69%, 0);
	--black: #000;
	--black-transparent: transparent;
	--blue: #98bfff;
	--gradient-blue: #8ab6fc4e;
}

*::selection {
	color: var(--black);
	background: var(--blue);
}

html {
	height: auto;
	scroll-behavior: initial;
}

body {
	height: auto;
	min-height: 100vh;
}

body {
	color: var(--white);
	background-color: var(--black);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
